<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- style css -->
    <link rel="stylesheet" href="style/style-cadastro.css">
    <!-- favicon -->
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <title>SuperSelect - CADASTRO</title>
</head>

<body>
    <!-- Navbar -->
    <div class="header">
        <h2>SuperSelect</h2>
        <nav>
            <a href="#">Home</a>
            <a href="#">Entrar</a>
            <a href="#">Cadastrar</a>
        </nav>
    </div>
    <!-- Painel -->
    <div class="container">
        <!-- info-text -->
        <div class="info">
            <h1>O sistema facilita o controle e gerenciamento do histórico de produtos em supermercados, oferecendo uma
                solução prática e intuitiva para registrar, consultar e organizar informações sobre cada item, como
                compras, vendas, estoque e validade, de forma rápida e eficiente.</h1>
        </div>
        <!-- card cadastro -->
        <div class="login">
            <h2>Realize seu Cadastro Agora!</h2>
            <form>
                <label for="nome">Nome</label>
                <input type="text" id="nome" placeholder="Digite seu Nome" required>
                <label for="email">E-mail</label>
                <input type="email" id="email" placeholder="Digite seu e-mail" required>
                <label for="password">Senha</label>
                <input type="password" id="password" placeholder="Digite sua senha" required>
                <button type="submit">Entrar</button>
            </form>
            <!-- text termo -->
             <div class="termo">
                <label for="termo">Ao clicar em "criar minha conta grátis", declaro que aceito as Políticas de Privacidade e os
                    Termos de Uso da SuperSelect.</label>
             </div>
            <!-- link -->
            <div class="link">
                <label for="text-login">Já tenho conta.</label>
                <a href="#" class="EsqueciSenha">Fazer Login.</a>
            </div>
        </div>
    </div>
</body>

</html>