<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link css -->
    <link rel="stylesheet" href="style/style-login.css">
    <!-- favicon -->
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <title>SuperSelect - LOGIN</title>
</head>

<body>
    <!-- Navbar -->
    <div class="header">
        <h2>SuperSelect</h2>
        <nav>
            <a href="#">Home</a>
            <a href="#">Entrar</a>
            <a href="#">Cadastrar</a>
        </nav>
    </div>
    <!-- Painel -->
    <div class="container">
         <!-- info-text -->
        <div class="info">
            <h1>Adote as novas tecnologias administrativas usadas por empresas inovadoras do varejo</h1>
            <ul>
                <li>Mais de 1.700 atacados e varejos, de pequeno a grande porte, estão cadastrados e utilizam nosso
                    sistema.</li>
                <li>Busque renovação & organização para sua empresa utilizando nosso sistema, desenvolvido especialmente
                    para você.</li>
                <li>+10.000 avaliações positivas por grandes empresas no Brasil e exterior.</li>
            </ul>
        </div>
        <!-- card img das empresas -->
        <!-- <img src="logos.png" alt="Logos de empresas"> -->
        <!-- card login -->
        <div class="login">
            <h2>Já tem Cadastro?</h2>
            <h4>Faça seu login e make the change</h4>
            <form>
                <label for="email">E-mail</label>
                <input type="email" id="email" placeholder="Digite seu e-mail" required>
                <label for="password">Senha</label>
                <input type="password" id="password" placeholder="Digite sua senha" required>
                <button type="submit">Entrar</button>
            </form>
            <!-- link de acesso -->
            <div class="links">
                <a href="#" class="EsqueciSenha">Esqueci minha senha.</a>
                <a href="#">Criar conta</a>
            </div>
        </div>
    </div>
</body>

</html>