header,
.header * {
  box-sizing: border-box;
}
.header {
  height: 47px;
  position: relative;
}
.header-background {
  background: #060606;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.home {
  color: #ffffff;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 18px;
  line-height: 24.51px;
  font-weight: 700;
  position: absolute;
  left: 923px;
  top: 8px;
  width: 60.44px;
  height: 26px;
}
.btn-menu-entrar {
  width: 106.81px;
  height: 25px;
  position: static;
}
.rectangle-2 {
  background: #565656;
  border-radius: 11px;
  width: 8.33%;
  height: 46.81%;
  position: absolute;
  right: 14.02%;
  left: 77.65%;
  bottom: 27.66%;
  top: 25.53%;
}
.entrar {
  color: #ffffff;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 18px;
  line-height: 24.51px;
  font-weight: 700;
  position: absolute;
  right: 14.01%;
  left: 77.73%;
  width: 8.26%;
  bottom: 23.4%;
  top: 23.4%;
  height: 53.19%;
}
.btn-menu-cadastrar {
  width: 107.14px;
  height: 25px;
  position: absolute;
  right: 61.86px;
  bottom: 13px;
}
.rectangle-22 {
  background: #565656;
  border-radius: 11px;
  width: 99.56%;
  height: 88%;
  position: absolute;
  right: 0.44%;
  left: 0%;
  bottom: 0%;
  top: 12%;
}
.cadastrar {
  color: #ffffff;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 18px;
  line-height: 24.51px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 1.35%;
  width: 98.65%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.super-select {
  color: #ff0a0a;
  text-align: left;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  top: 10px;
  width: 118px;
  height: 27.43px;
}